<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/default :: defaultLayout(pageTitle='회원가입 완료', content=~{::content})}">
<head>
    <title>회원가입 완료</title>
</head>
<body>
<th:block th:fragment="content">

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card text-center border-0">
                    <div class="card-body p-5">
                        <!--<h2 class="mb-3">🎉</h2>-->
                        <img class="img-fluid mb-3" style="width: 20rem;" alt="success" src="https://media.tenor.com/VgCDirag6VcAAAAi/party-popper-joypixels.gif" />
                        <h3 class="mb-4">회원가입이 완료되었습니다!</h3>
                        <p class="mb-4">MUNSIKSA의 회원이 되신 것을 환영합니다.</p>
                        <div class="d-grid gap-2">
                            <a th:href="@{/members/login}" class="btn btn-primary btn-lg">로그인 하러 가기</a>
                            <a th:href="@{/}" class="btn btn-outline-secondary">홈으로</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
</body>
</html>